@font-face {
  font-family: "Alegreya SC";
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/AlegreyaSC-Bold.woff2) format("woff2"),
    url(/fonts/AlegreyaSC-Bold.woff) format(woff);
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SourceSansPro-Bold.woff2) format("woff2"),
    url(/fonts/SourceSansPro-Bold.woff) format(woff);
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/SourceSansPro-Semibold.woff2) format("woff2"),
    url(/fonts/SourceSansPro-Semibold.woff) format(woff);
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/SourceSansPro-Regular.woff2) format("woff2"),
    url(/fonts/SourceSansPro-Regular.woff) format(woff);
}
