@use "../abstracts/" as *;

body {
  min-height: $body-min-height;
  min-height: 100vh;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-background-color;
}
