*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul[role="list"] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}
