$colors: (
  primary: (
    400: #dd4e11,
  ),
  neutral: (
    900: #000,
    700: #212121,
    400: #5c5c5c,
    300: #606060,
    200: #f8f8f8,
    100: #fff,
  ),
  accent: (
    400: #ff6635,
  ),
);
