$-ff-sans: "Source Sans Pro", sans-serif;
$-ff-serif: "Alegreya DC", serif;

$font-sizes: (
  mobile: (
    900: 3.75rem,
    800: 2.375rem,
    700: 1.75rem,
    600: 1.125rem,
    500: 1.125rem,
    400: 1rem,
  ),
  desktop: (
    900: 5.0625rem,
    800: 3rem,
    700: 1.75rem,
    600: 1.3125rem,
    500: 1.125rem,
    400: 1rem,
  ),

);

$-fw-700: 700;
$-fw-500: 500;
$-fw-400: 400;

$font-family-primary: $-ff-sans;
$font-family-accent: $-ff-serif;

$font-size-900: var(--fs-900);
$font-size-800: var(--fs-800);
$font-size-700: var(--fs-700);
$font-size-600: var(--fs-600);
$font-size-500: var(--fs-500);
$font-size-400: var(--fs-400);

$font-weight-base: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;

// 81 -- 60 // Page title

// 48 -- 38 // Section heading

// 28 //

// 21 -- 18 // subhead section

// 16 // base
