$font-sizes: (
  100: 1.2rem,
  200: 1.4rem,
  300: 1.6rem,
  400: 1.8rem,
  500: 2.4rem,
  600: 2.8rem,
  700: 3.2rem,
  800: 4rem,
  900: 4.8rem,
);

$font-weights: (
  400: normal,
  500: semi-bold,
  700: bold,
);

$font-families: (
  400: system-ui,
  500: Roboto sans-serif,
);
