@use "../abstracts/colors" as *;

@each $color, $shade-map in $colors {
  @each $shade-name, $shade-value in $shade-map {
    .clr-#{$color}-#{$shade-name} {
      color: $shade-value;
    }
    .bg-#{$color}-#{$shade-name} {
      background-color: $shade-value;
    }
  }
}
