@use "../abstracts" as *;

@each $screen-size, $fs-map in $font-sizes {
  @each $fs-name, $fs-value in $fs-map {
    .fs-#{$fs-name} {
      font-size: var(--fs-#{$fs-name});
    }
  }
}

.ff-primary {
  font-family: $font-family-primary;
}
.ff-accent {
  font-family: $font-family-accent;
}

.fw-regular {
  font-weight: $font-weight-base;
}
.fw-semi-bold {
  font-weight: $font-weight-semi-bold;
}
.fw-bold {
  font-weight: $font-weight-bold;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
.letter-spacing-loose {
  letter-spacing: $letter-spacing-loose;
}

.no-decoration {
  text-decoration: none;
}

.heading-900 {
  @include section-header(h1);
}
.heading-800 {
  @include section-header(h2);
}
