@use "../abstracts/" as *;

.primary-button {
  cursor: pointer;
  display: inline-flex;
  border: 0;
  font-family: $button-primary-font-family;
  font-size: $button-primary-font-size;
  font-weight: $button-primary-font-weight;
  color: $button-primary-color;
  background-color: var(--_primary-button-bg);
  text-transform: $button-primary-text-transform;
  padding: $button-primary-padding;
  border-radius: $button-primary-border-radius;
  transition: background-color 300ms;

  &[data-variant="primary"] {
    --_primary-button-bg: #{$button-primary-background-color};

    &:is(:hover, :focus-visible) {
      --_primary-button-bg: #{$button-primary-background-color-hover};
    }
  }
  &[data-variant="accent"] {
    --_primary-button-bg: #{$button-primary-accent-background-color};

    &:is(:hover, :focus-visible) {
      --_primary-button-bg: #{$button-primary-accent-background-color-hover};
    }
  }
}
