@use "../abstracts" as *;

.container {

  width: min(var(--_container-width), 100% - $container-padding-inline);
  margin-inline: auto;
  
  &[data-type="narrow"]  {
    --_container-width: #{$container-max-width-narrow};
  }
  &[data-type="wide"] {
    --_container-width: #{$container-max-width-wide};
  }
  &[data-type="full-bleed"] {
    --_container-width: #{$container-max-width-full-bleed};
  }
}
