@use "../abstracts/" as *;

.even-columns {
  --_even-columns-gap: #{$even-columns-gap-1};

  display: grid;
  gap: var(--_even-columns-gap);

  @include mq(mobile, min) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    &.aligned-y {
      align-items: center;
    }
  }
}
