@use "../abstracts" as *;

.flex-group {
  --_flex-group-gap: $size-4 $size-5;

  display: flex;
  gap: var(--_flex-group-gap);
  flex-wrap: wrap;
}

.flex-group.flex-x-centered {
  @include mq(mobile, max) {
    justify-content: center;
  }
}
