@use "../abstracts/" as *;

.grid-auto-fit {
  --_column-width: 15.625rem;
  --_auto-fit-gap: #{$auto-fit-gap-1};

  display: grid;
  gap: var(--_auto-fit-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--_column-width)), 1fr));
}
